.font-size-one-half {
  font-size: 0.5em;
}

.font-size-two-thirds {
  font-size: 0.66em;
}

.font-size-three-quarters {
  font-size: 0.75em;
}

.metadata {
  font-size: 11.5pt;
}

--r-main-font-size: 34pt;
